services:
  kafka:
    image: apache/kafka:3.7.2
    ports:
      - "9092:9092"

  db:
    image: mysql:8.3
    environment:
      MYSQL_DATABASE: mydatabase
      MYSQL_USER: myuser
      MYSQL_PASSWORD: mypassword
      MYSQL_ROOT_PASSWORD: myrootpassword
    ports:
      - "3307:3306"